@import "colors.css";

* {
  border: none;
  border-radius: 0;
  font-family: JetBrainsMono Nerd Font Propo, Roboto, Helvetica, Arial, sans-serif;
  font-size: 14px;
}

window#waybar {
  background-color: @bg0;
  color: @fg;
  transition-property: background-color;
  transition-duration: .5s;
}

.modules-right .module {
  padding: 0 12px;
  margin: 0;
  border: 2px solid @green;
  border-radius: 5px;
}

/* Рабочие столы */
#workspaces button {
  color: #859289;
  padding: 0 8px;
}

#workspaces button.focused,
#workspaces button.active {
  color: @green;
  border-bottom: 2px solid @green;
}

#workspaces button.urgent {
  color: @red;
  border-bottom: 2px solid @red;
}

#workspaces button:hover {
  background-color: @bg0;
  color: @fg;
}

#custom-power {
  padding: 0 10px;
}

/* Батарея */
#battery {
  color: @aqua;
}

#battery.charging, #battery.plugged {
  color: @green;
}

#battery.critical:not(.charging) {
  color: @red;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

/* Звук */
#pulseaudio {
  color: @purple;
}

#pulseaudio.muted {
  color: #859289;
}

/* Сеть */
#network {
  color: @orange;
}

#network.disconnected {
  color: @red;
}

/* Num Lock состояние */
#keyboard-state {
}
